In [ ]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:90% !important;}</style>"))

#### Lists

In [ ]:
test_list = [100,200,300]
pd.Series(data=test_list)

In [ ]:
# create 2D array in python
data = [[10,20],[1,2]]
# pass 2D array in pandas Series function
ser = pd.Series(data)
ser

#### Dictionary

In [ ]:
dictionary = {'a':100,'b':200,'c':300}
pd.Series(data=dictionary)

In [ ]:
# create python dictionary
data = {
    'city':['New Delhi','London'],
    'country':['India',"England"]
}
# pass dictionary object to series function of pandas
ser = pd.Series(data)
ser

#### Creating your own Dataframes from a:

##### List

In [ ]:
data = [['thomas', 100], ['nicholas', 200], ['danson', 300]] 
df = pd.DataFrame(data, columns = ['Name', 'Age'])
df

##### Dictionary

In [ ]:
# create dictionary with 2 keys i.e apples and mangos
data = {
    'apples':[1,2,3],
    'mangos':[10,20,30]
}
# create DataFrament and pass this dictionary to pandas Series function
df = pd.DataFrame(data)
df

In [ ]:
# create dictionary with 2 keys and some names
data = {'Name':['thomas', 'nicholas', 'danson', 'jack'], 'Age':[100, 200, 300, 400]} 
df = pd.DataFrame(data)
df

#### IO Tools

In [ ]:
data = {'Format type':['text','text','text','text','binary','binary','binary','binary','binary','binary','binary','binary','binary','SQL','SQL'],
        'Data description':['csv','json','HTML','Local Clipboard','MS Excel','OpenDocument','HDF5 Format','Feather Format','Parquet Format','Msgpack','Stata','SAS','Python Pickle Format','SQL','Google Big Query'], 
        'Reader':['read_csv','read_json','read_html','read_clipboard','read_excel','read_excel','read_hdf','read_feather','read_parquet','read_msgpack','read_stata','read_sas','read_pickle','read_sql','read_gbq'],
        'Writer':['to_csv','to_json','to_html','to_clipboard','to_excel','NA','to_hdf','to_feather','to_parquet','to_msgpack','to_stata','NA','to_pickle','to_sql','to_gbq']} 
df = pd.DataFrame(data)
df

#### Read a file

In [ ]:
spend = pd.read_excel('rolling_12_october_professional_services.xlsx') #read data from the local directory into a dataframe
spend.head()

In [ ]:
df_2 = pd.read_excel('rolling_12_october_professional_services.xlsx',usecols=np.r_[1,2,5:8,15:18],) #Read a file and bring specific columns
df_2

In [ ]:
#read the file with the new column names into a series
column = pd.read_excel('column_names.xlsx',header=0)
column_name=column['name']
#read data from the local directory into a dataframe and change the names of the columns
spend1 = pd.read_excel('rolling_12_october_professional_services.xlsx',names=column_name, header=0) 
spend1.head()

In [ ]:
#Renaming multiple columns
ufo_cols = ['city', 'colors reported', 'shape reported', 'state', 'time'] #Setting the list. This can be a list read from an excel file
ufo.columns = ufo_cols #Renaming columns
ufo.head() #Displaying columns

In [ ]:
#Replacing spaces with underscores for all columns
spend.columns = spend.columns.str.replace(' ', '_')
spend.head()

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/gandsbusiness/ultron/master/core/data/urls_wso.csv?token=ALDDQ4ZQ52UN7CTIIXPRVDS5525B4') #read data from the web directly into a dataframe
data

In [ ]:
pd.read_clipboard(index_col="name") #You need to mark and copy (ctrl+c) a table before, and then run the code

In [ ]:
pd.read_csv? #adding a question mark after a command will print the help text

##### Inspecting the dataset

In [ ]:
spend.dtypes #display the type of data in the dataframe

In [ ]:
spend.head(5) #preview the first 5 rows

In [ ]:
spend.tail(5) #preview the last 5 rows

In [ ]:
spend.sample(5) #preview 5 random rows

In [ ]:
pd.set_option('display.max_columns',50) #number of columns you want

In [ ]:
pd.set_option('display.max_rows',50) #number of rows you want

In [ ]:
spend.shape #returns the dimensions of the DataFrame

In [ ]:
spend.columns #returns a list of all the column names in the DataFrame

In [ ]:
col_mapping = [f"{c[0]}:{c[1]}" for c in enumerate(spend.columns)] #List comprehension to build up a reference list of all columns and their index
col_mapping

In [ ]:
col_mapping_dict = {c[0]:c[1] for c in enumerate(spend.columns)} #Dictionary comprehension to create a dictionary view of the data
col_mapping_dict

In [ ]:
spend.index #returns information about the index

In [ ]:
spend.info() #returns information regarding types and number of non-null observations in the DataFrame

In [ ]:
spend.describe() #returns some descriptive statistical information (count, mean, std, min, 25%, 50%, 75%, max) regarding the numerical columns of the DataFrame

In [ ]:
spend.sort_values(by='Vendor') #Sort our data by Vendor

In [ ]:
spend.sort_values(by=['Vendor','BusA']) #When you pass multiple values, it will sort by the values in order of the values

In [ ]:
spend.sort_values(by=['Vendor','BusA'], ascending=[False,True]) #The sorting is done “lowest value” first by default. However, it’s easy to change this behavior

In [ ]:
spend.sort_index(ascending=False) #there is also index-based sorting

In [ ]:
#Filtering columns passing a Boolean array, which many people uses the lambda function instead
run_cols = spend.columns.str.contains('Fu', case=False) #Create the array
print(run_cols)
spend.iloc[:, run_cols].head() #Passing the array to iloc

In [ ]:
#Filtering using a Lambda function
spend.iloc[:, lambda spend:spend.columns.str.contains('Fu', case=False)].head()

In [ ]:
#Filtering using a Lambda function with multiple conditions
spend.iloc[:, lambda spend:spend.columns.str.contains('Fu|Do|Na', case=False)].head()

In [ ]:
#Locating multiple columns using conditions, finding the index and combining on a list that is passed to iloc
location_cols = spend.columns.str.contains('Fu|Do|Na',case=False)
location_indices = [i for i, col in enumerate(location_cols) if col]
spend.iloc[:, np.r_[0:,location_indices]].head()

In [ ]:
#Use loc for filtering rows based on specific criteria
spend.set_index('Functional Indirect Reassignment',inplace=True) #Reset the index so we can use the first column for filtering
#spend.sample(5)

In [ ]:
#Selecting row(s) by one index label
spend.loc['Funct - HR']

In [ ]:
#Selecting rows and a column by index label and column label
spend.loc['Funct - HR','Vendor'].head()

In [ ]:
#Selecting row(s) by multiple index labels
spend.loc[['Funct - HR','Funct - IT']].sample(5)

In [ ]:
#Selecting rows and columns by multiple index labels
spend.loc[['Funct - HR','Funct - IT'],['Vendor','Function Sub-Category']].sample(5)

In [ ]:
#Selecting row(s) by a range of index labels. 
#Specifying a range of labels is based on the current ordering of the index, and it will fail on an unsorted index.
spend.loc['Funct - IT':'Funct - Procurement',['Vendor','Function Sub-Category']].sample(5)

In [ ]:
#Select rows based on a condition
condition=spend['Year']>2018
spend.loc[condition]

In [ ]:
#Select rows based on multiple conditions
year_condition=spend['Year']>2018
item_condition=spend['Itm']>2
spend.loc[year_condition & item_condition]

In [ ]:
#Advanced conditional lookup with custom formulas
year_condition=spend['Year'].apply(lambda x: x>2018)
item_condition=spend['Function Sub-Category'].apply(lambda x: x=='Consulting')
spend.loc[year_condition & item_condition]

##### Unique Values for each column

In [ ]:
spend.nunique() #Unique values of each column

##### Selection of Data

In [ ]:
spend['Functional Indirect Reassignment'] #Selects one column of the dataset

###### We can also select multiple columns at once

In [ ]:
spend[['Functional Indirect Reassignment', 'Function Sub-Category']] #Selects multiple columns in the data frame. Whenever you use double brackets, the result will be a DataFrame (even when only selecting one column with double brackets)

###### Including/excluding columns you need/don’t need

In [ ]:
spend.drop(['Addressable?', 'BusA'],axis=1, inplace=True)
spend

###### Select data by rows

In [ ]:
spend.iloc[0:3] #first number(500) of the interval is inclusive and the last number(511) of the interval is exclusive

In [ ]:
spend.iloc[:, np.r_[0:3,15:19,24,25]] #To select groups of columns, there is a numpy object that can help us out. The r_ object will “Translate slice objects to concatenation along the first axis.”

In [ ]:
#Filter and additionally specify which columns to select
spend.iloc[1:5,0:3]

###### Filter through the data

In [ ]:
spend[spend['Functional Indirect Reassignment']=='Funct - HR']

In [ ]:
spend[['Functional Indirect Reassignment','Function Sub-Category']][spend['Functional Indirect Reassignment']=='Funct - HR'][spend['Function Sub-Category']=='Consulting']

#### Aggregation Functions

##### Commands to return the respective aggregations, note that the aggregations can be run by conditional selection as well.

In [ ]:
spend.max() #max for all the numerical values in the df

In [ ]:
spend['     LC amount'].min() #min for a specific column in the df

In [ ]:
spend['     LC amount'].iloc[0:100].min() #min for a range in a column in the df

In [ ]:
spend.iloc[0:101].mean() #mean for all the numerical values in the df

In [ ]:
spend.sum()

In [ ]:
#Will return the index of the row where the first minimum/maximum is found
spend['     LC amount'].iloc[0:100].idxmax()

##### Correlation matrix against the columns to find out their relationship with each other

In [ ]:
spend.corr()

##### Check the distribution of each column

In [ ]:
spend['Functional Indirect Reassignment'].value_counts()

#### Data Cleaning

##### Identify any null values

In [ ]:
spend.isnull().sum()

##### Explore one of the rows with null values

In [ ]:
spend[spend['Functional Indirect Reassignment'].isnull()]

##### Drop columns with null values

In [ ]:
spend.dropna(axis=1, inplace=True)

##### Replace all our null values with a value

In [ ]:
spend['Age'].fillna(df['Age'].mean())

##### Delete multiple columns

In [ ]:
spend.drop(['Purch.Doc.', 'Short Text'], axis=1)

#### Group By

##### Group by column and add calculation to another column

In [ ]:
spend.groupby('Functional Indirect Reassignment')['     LC amount'].count()

##### Group by column and calculate something for the rest of the numerical columns

In [ ]:
spend.groupby('Functional Indirect Reassignment').mean()

##### Group by two columns and calculate something

In [ ]:
#Group by multiple columns
spend.groupby(['Functional Indirect Reassignment','Function Sub-Category']).count()

In [ ]:
#Multi-level groups
spend.groupby(['Functional Indirect Reassignment','Function Sub-Category'])['     LC amount'].idxmax()

In [ ]:
#Using the transform function. The function will bring the index and the calculation
spend.groupby(['Functional Indirect Reassignment'])['     LC amount'].transform(sum).head()

In [ ]:
#Using the transform function. The function will bring the index and the calculation
spend.groupby(['Functional Indirect Reassignment'])['     LC amount'].transform(np.median).head()

#### Concatenation and Merging

##### Add rows and concatenate

In [ ]:
first_5 = spend.head()
last_5 = spend[178:]
combined = pd.concat([first_5,last_5], axis = 0)
combined

##### Merge two dataframes

In [ ]:
df3 = pd.merge(df,df2, how=’right’, on=’Name’) #The merge works exactly like SQL joins, with methods of left, right, outer and inner

#### Data Manipulation

##### Data Types

In [ ]:
#change the type of data to open possibilities to other functions
spend['DocumentNo'].astype(int)
#data can’t be null or empty
#when changing float to integer, the decimals have to be in .0 form

#### Apply Function

In [ ]:
#Step 1: Define a function
#Hydroxide = 1st Test
#Unallocated = 2nd Test
#Alloy Support = 3rd test

In [ ]:
def business_area(x):
    if x == "Hydroxide":
        x = '1st Test'
    if x == 'Unallocated':
        x = '2nd Test'
    if x == 'Alloy Support':
        x = '3rd Test'
    return x

In [ ]:
#Step 2: Apply the function

In [ ]:
combined['Business area'] = combined['Business area'].apply(lambda x: business_area(x))
combined

In [ ]:
#Display all columns in Jupyter Notebook
pd.options.display.max_columns = None

In [ ]:
#Convert EUROS into US Dollars
def convert_to_usd(x):
    if x == "EUR":
        x = ('EUR')*.8
    return x

In [ ]:
spend['Curr.'] = combined['Curr.'].apply(lambda x: business_area(x))
spend

In [ ]:
spend.columns

In [ ]:
#The function initially checks, if the value is convertible to a number and if not will return ‘no number column.’ 
#Otherwise, the function returns above_1000 if the value is above 1000 and below_10 if the value is below 10, else it returns mid.
def above_1000_below_10(x):
    try:
        pd.to_numeric(x)
    except:
        return 'no number column'
    
    if x > 1000:
        return 'above_1000'
    elif x < 10:
        return 'below_10'
    else:
        return 'mid'

In [ ]:
#Apply the column to a specific column
spend['     LC amount'].apply(above_1000_below_10)

In [ ]:
#split the column on space and then grab the last word of the results
spend['Name'].apply(lambda x: x.split(' ')[-1])

In [ ]:
#When applying a function to a whole DataFrame, the function goes column by column and is applied to the entire column 
def country_before_2015(spend):
    if spend['Year'] < 2019:
        return spend['Vendor']
    else:
        return spend['Functional Indirect Reassignment']

In [ ]:
spend.apply(country_before_2015, axis=1)

#### Custom Columns

##### Combining Columns

In [ ]:
#Add, subtract or otherwise combine two or multiple columns
spend['Functional Indirect Reassignment'] + spend['Vendor']

In [ ]:
#We can also do string operations
spend['Vendor'] + '_' + spend['Year'].astype(str)

##### Create custom calculated colums

In [ ]:
combined['new column'] = combined['Year']/combined['Itm']
combined

#### Finalising and Export

##### Rename columns

In [ ]:
df3.rename(columns={'BMI':'Body_Mass_Index','PassengerId':'PassengerNo'}, inplace = True)

##### Sort columns

In [ ]:
combined = combined.sort_values('Functional Indirect Reassignment')
combined

##### Export to csv

In [ ]:
combined.to_csv('combined_file')